{%extends "home/base.html"%}
{%block title%}LiveRoomHost{%endblock%}

{%block script%}
<script src="{{ url_for('static', filename='script/dragdrop.js') }}"></script>
<script src="{{ url_for('static', filename='script/roomHostBaseCode.js') }}"></script>
<script>
    //Template Specific Variables
    let roomKey = {{ roomKey|tojson }};

    //template Specific Socket Handlers -> socket variables defined in roomHostBaseCode.js
    socket.on('connect', function(){
        console.log("Connected to server");
    });

    //set up event listeners
   function documentReady() {
        console.log("Document Ready");
        ["tossupQuestion", "bonus1Question", "bonus2Question"].forEach(function(elem,index){
            $("#"+elem+"Send").click( () => {
                console.log("#"+elem+"Input")
               sendQuestion($("#"+elem+"Input").val(), index);
            });
        });
        $("#teamLetter").on("change", () => {
           sendResultData();
        });
        $("#playerNum").on("change", () => {
            sendResultData();
        });
        $("#tossup").on("change", () => {
            sendResultData();
        });
        $("#bonus1").on("change", () => {
            sendResultData();
        });
        $("#bonus2").on("change", () => {
            sendResultData();
        });
        $(".advance").on("click", () => {
            //update the result data from current question 
            sendResultData();
            //advance a question
            updateCurQuestion(curQuestion+1);
            //load preset results for this new question if they exist
            resetResults();
        });
        $(".back").on("click", () => {
            if(curQuestion > 1){
                //update the result data from current question
                sendResultData();
                //back up a question
                updateCurQuestion(curQuestion-1);
                //load preset results for this new question if they exist
                resetResults();
            }
        });
    }

    /**
        * Updates the results array with the current results and sends the data to the server
        * @param {int} roomCurQuestion the current question of the room
    **/
    function sendResultData(){
        //create data object to send to server
        out = {}
        console.log("Updating Results and Sending to Server")
        console.log(results)
        //Retrieve the current results from the form and store them in the results array, and in the data object
        out['teamLetter']= results[curQuestion-1].teamLetter = $("#teamLetter").val();
        out['playerNum'] = results[curQuestion-1].playerNum = $("#playerNum").val();
        out['tossup']= results[curQuestion-1].tossup = teamLetter == "0" ? false : true;
        out['bonus1']= results[curQuestion-1].bonus1 = $("#bonus1").prop("checked");
        out['bonus2']= results[curQuestion-1].bonus2 = $("#bonus2").prop("checked");
        out['roomKey'] =results[curQuestion-1].roomKey= {{ roomKey|tojson }};
        out['questionNum'] = curQuestion;
        out['tossupQuestion'] = results[curQuestion-1].tossupQuestion;
        out['bonus1Question'] = results[curQuestion-1].bonus1Question ;
        out['bonus2Question'] = results[curQuestion-1].bonus1Question; 
        out['tossupAnswer'] = results[curQuestion-1].tossupAnswer
        out['bonus1Answer'] = results[curQuestion-1].bonus1Answer
        out['bonus2Answer'] = results[curQuestion-1].bonus2Answer
        console.log("Saving and Sending");
        console.log(out);
        socket.emit("roomResultUpdate", data = out);
    }
    /**
    * Updates the status of the answer for the current question
    **/
    function updateCurResultAnswerStatus(answerStatus){
        out = {}
        out['roomKey'] = {{ roomKey|tojson }};
        out['questionNum'] = curQuestion;
        out['answered'] = results[curQuestion-1].answered = answerStatus;
        socket.emit("roomCurQuestionAnswerStatusUpdate", data = out);
    }
    /**
        * Updates the current question on the server database
    **/
    function updateCurQuestion(questionNum){
        //update the current question locally
        curQuestion = questionNum;
        $(".questionNum").text("Question #" + curQuestion);
        //update the current question on the server
        socket.emit("roomCurQuestionUpdate", data = {
            "roomKey": {{ roomKey|tojson }},
            "curQuestion": curQuestion
        });
    }
    /**
    * Updates the current question type on the server database: QUestion typ eis used for what type question is being sent by the host currently: 0 is tossup, 1 is bonus
    **/
    function updateCurQuestionType(type){
        //update the current question type locally
        curQuestionType = type;
        //hide or reveal the tab panes for the question types
        let questionContainers = $(".questionContainer");
        for(let i = 0; i<3; i++){
            if(i==curQuestionType)questionContainers[i].addClass("active").addClass("show");
            else questionContainers[i].removeClass("active").removeClass("show");
        }        

        //update the current question type on the server
        socket.emit("roomCurQuestionTypeUpdate", data = {
            "roomKey": {{ roomKey|tojson }},
            "curQuestionType": type
        });
    }
    /**
    * Resets the results form to the values stored in the results array or to default values if no results exist for this question
    **/
    function resetResults(){
        console.log("Resetting Results")

        //Default Values if no results exist for this question
        if(results.length < curQuestion){
            console.log("No Results for this question; Creating default")

            $("#teamLetter").prop("selectedIndex", 0);
            $("#playerNum").prop("selectedIndex",0);
            $("#bonus1").prop("checked", false);
            $("#bonus2").prop("checked", false);
            ['tossup', 'bonus1', 'bonus2'].forEach((type) => {
                $("#"+type+"QuestionSend").removeClass("hidden");
                $("#"+type+"QuestionInput").removeClass("hidden");
                $("#"+type+"QuestionView").addClass("hidden");
            });

            //and create a new result object for this question
            results.push({
                "teamLetter": "0",
                "playerNum": "0", 
                "questionNum": curQuestion,
                "tossup":false, 
                "bonus1":false,
                "bonus2":false,
                'tossupQuestion':"",
                'bonus1Question':"",
                'bonus2Question':"",
                'tossupAnswer':"",
                'bonus1Answer':"",
                'bonus2Answer':"",
                "answered":false
            })
            console.log("Local Results")
            console.log(results)
            //TODO add roomUpdate emission here
            sendResultData();
            resetResults();


        }
        //otherwise load the results from the results array
        else{
            console.log("Loading Results from Array")
            let resultData = results[curQuestion-1];
          
            $("#teamLetter").prop("selectedIndex", parseInt(resultData.teamLetter));
            $("#playerNum").prop("selectedIndex",parseInt(resultData.playerNum)-1);
            $("#bonus1").prop("checked", resultData.bonus1);
            $("#bonus2").prop("checked", resultData.bonus2);

            //reset send Question divs
            ['tossup', 'bonus1', 'bonus2'].forEach((type) => {
                if(resultData[type+"Question"] != ""){
                    $("#"+type+"QuestionSend").addClass("hidden");
                    $("#"+type+"QuestionInput").addClass("hidden");
                    $("#"+type+"QuestionView").removeClass("hidden");
                    
                    $("#"+type+"QuestionView>div>div>.preAnsweredQuestionHolder").prop("disabled", true);
                    $("#"+type+"QuestionView>div>div>.preAnsweredAnswerHolder").prop("disabled", true);
                    $("#"+type+"QuestionView>div>div>.preAnsweredAnswerHolder").val(resultData[type+"Answer"]);
                    $("#"+type+"QuestionView>div>div>.preAnsweredQuestionHolder").val(resultData[type+"Question"]);

                }
                else{
                    $("#"+type+"QuestionSend").removeClass("hidden");
                    $("#"+type+"QuestionInput").removeClass("hidden");
                    $("#"+type+"QuestionView").addClass("hidden");
                    $("#"+type+"QuestionInput").val("");
                }
                

            });
            resultData = results[curQuestion-1];
            console.log("Result just reset")
            console.log(resultData)

        }
    }
    function sendQuestion(text, type){
        console.log(text);
        //send the question to the server 
        socket.emit("liveQuestionUpdate", data = {
            "roomKey": {{ roomKey|tojson }},
            "questionNum": curQuestion,
            "questionType": type,
            "questionText": text
        });
        //update the results locally
        console.log(results)
        console.log(["tossup", "bonus1", "bonus2"][type]+"Question")
        results[curQuestion-1][["tossup", "bonus1", "bonus2"][type]+"Question"] = text;
        resetResults();
    }
    

</script>{%endblock%}
{%block styles%}<style>
    .input-group{
        text-align: center;
    }
    .btn-primary{
        background-color: var(--quinary-color);
        border-color: var(--quinary-color);
    }
    #teamsList{
        position: absolute;
        right: 1%;
        top: 1%;
        width:29%;
        height:98%;
        border: 1px solid blue;
        border-radius: 25px;
        overflow: scroll;
        background-color: var(--quinary-color);
        color: var(--tetratary-color);
    }
    
    .overflow-container::-webkit-scrollbar, .drop-zone::-webkit-scrollbar, .drop-zone>*::-webkit-scrollbar, .selectedTeam>*::-webkit-scrollbar{
        width: 10px;
      display: none;
    }
    
    #teamSelector{
        position: relative;
        width: 100%;
        height: 300px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border-radius: 25px;
    }
    .drop-zone{
        width:100%;/*will distribute items equally across flex container*/
        margin:1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: scroll;
    
    }
    .drop-zone>h3{
        overflow-y: scroll;
        overflow-x: scroll;
        white-space: nowrap;
    }
    
    #roomTeams{
        position: absolute;
        left: 1%;
        top: 1%;
        display: flex;
        justify-content: space-evenly;
    
    
        width: 68%;
        height: 98%;
    }
    .droppable{
        
        border: 5px dotted var(--primary-color);
        margin:2%;
        max-height: 80%;
        max-width: 100%;
        flex:1;
        /*Aligns text in center*/
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .dragging{
        opacity: .25;
        background-color: var(--primary-color);
    }
    .selectedTeam>*{
        font-weight: 800;
        font-size: xx-large;
        overflow-x: scroll;
        overflow-y: scroll;
    
    }
    .selectedTeam{
        max-width: 100%;
    }
    #teamsDiv{
        margin-top: 5%;
    }
    body{
        height: 100vh;
    }
    #eventTab
    {
        position: fixed;
        bottom: 0;
    }

    .nav-item:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
    .arrow-right {
        width: 0; 
        height: 0; 
        border-left: 20px solid green;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        background:none;
    }
    .arrow-left {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid red;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        background: none;
    }
    .arrows{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        border:5px solid black;
        background-color: #00000;
    }
    .tossup-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: 1px solid black;
    }
    .result-holder>*{
        border: 1px solid blue;
    }
    .result-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
    }
    .toss-up, .Bonus>*{
        display: inline-flex;
        align-items: center;
    }
    .form-select{
        width: auto;
    }
    #questionTypeSelector{
        width:100%;
        height:100%;
        border : 1px solid blue;
        display:flex;
        justify-content: center;
    }
    .questionSend{
        display:inline-flex;
        margin: 0;
        padding:0;
    }
    .checkmark {
        color: green; 
        font-size:8em;
        margin-top:0;
    }
    .preAnsweredQuestionHolder, .preAnsweredAnswerHolder{
        font-size: 10px;
    }
    .preAnsweredAnswerHolder:disabled, .preAnsweredQuestionHolder:disabled{
        background-color: white;
        color: black;
    }
    .questionAnswerHolder{
        display:flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }
    .questionOrAnswerHolder, .questionView{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .questionView, .questionSend{
        margin-top:5%;

    }
    .checkmarkLabel{
        font-size:12px; 
        margin-top: 1%;
    }
    .checkHolder{
        margin-right: 5%;
    }
    .questionAnswerLabel{
        margin-right:1%;
    }
    .hidden{
        display: none;
    }
</style>{%endblock%}


{%block content%}
<h1>LIVE TOURN</h1>

<!-- Space for host to send out a question to the players-->

<div class="container tab-content">
    <div class="container tab-pane fade show active" id="teamsDiv">
        <h1 class="center">Assign Teams</h1>
        <div class="container center" id="teamSelector">
            <div id="roomTeams">
                <div class="drop-zone"id="Team A">
                    <h3>Team A</h3>
                    <div class="droppable" ondrop="drop(event)" ondragover="allowDrop(event)"><h1>Add Team Here</h1></div>

                </div>
                <div class="drop-zone"id="Team B">
                    <h3>Team B</h3>
                    <div class="droppable" ondrop="drop(event)" ondragover="allowDrop(event)"><h1>Add Team Here</h1></div>
                </div>
                <div class="drop-zone"id="Team C">
                    <h3>Team C</h3>
                    <div class="droppable" ondrop="drop(event)" ondragover="allowDrop(event)"><h1>Add Team Here</h1></div>
                </div>
                <div class="drop-zone"id="Team D">
                    <h3>Team D</h3>  
                    <div class="droppable" ondrop="drop(event)" ondragover="allowDrop(event)"><h1>Add Team Here</h1></div>
        
                </div>

            </div>
            <div class="overflow-container" ondrop="drop(event)" ondragover="allowDrop(event)" id="teamsList">
                <h1>Teams</h1>
            </div>  
        </div>
    </div>
    <div  class="container tab-pane fade" id="QuestionHolder">
        <div class="tossup-header">
            <h1 class="questionNum">Question: #1</h1>
            <div class="arrows">
                <button name="task" class="back arrow-left" ></button>
                <button name="task" class="advance arrow-right"></button>
            </div>
        </div>
        <div class="result-holder">
            <div class="toss-up">
                <h2>Tossup: </h2>
                <select class="form-select" id="teamLetter" >
                    <option value="0">None</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                </select>
                <select class="form-select"id="playerNum" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="Bonus">
                <h2>Bonus #1: </h2>
                <input id="bonus1" type="checkbox" >
                    </div>
            <div class="Bonus">
                <h2 for="">Bonus #2: </h2>
                <input id="bonus2" type="checkbox" >
            </div>
        </div>
    </div> 
    <div  class="container tab-pane fade" id="QuestionSender">
        <div class="container" id="questionForm">
            <div class="tossup-header">
                <h1 class="questionNum"></h1>
                <h3 class = "questionType"></h3>
                <div class="arrows">
                    <button name="task" class="back arrow-left" ></button>
                    <button name="task" class="advance arrow-right"></button>
                </div>
            </div>
            <ul class="nav nav-tabs " id="questionTypeSelector" role="tablist">
                <li class="nav-item" role="presentation"><button class="nav-link active" id="tossup-tab" data-bs-toggle="tab" data-bs-target="#tossupQuestion" type="button" role="tab" aria-selected="true">Tossup</button></li>
                <li class="nav-item" role="presentation"><button class="nav-link " id="bonus1-tab" data-bs-toggle="tab" data-bs-target="#bonus1Question" type="button" role="tab"  aria-selected="true">Bonus #1</button></li>
                <li class="nav-item" role="presentation"><button class="nav-link" id="bonus2-tab" data-bs-toggle="tab" data-bs-target="#bonus2Question" type="button" role="tab" aria-selected="false">Bonus#2</button></li>
            </ul>
            <div class="tab-content">
                <div class=" questionContainer container tab-pane fade show active" id="tossupQuestion">
                    <div class="questionSend container ">
                        <button class="input-group-text btn btn-primary" id="tossupQuestionSend">Send Tossup</button>
                        <textarea class="form-control" id="tossupQuestionInput" rows="5"></textarea> 
                    </div>
                    <div class = "questionView hidden" id="tossupQuestionView">
                        <div class="checkHolder">   
                            <h6 class="checkmarkLabel" >Question Already Sent</h6>
                            <i class="fas fa-check checkmark"></i>
                        </div>
                        <div class="questionAnswerHolder">
                            <div class="questionOrAnswerHolder">
                                <h3 class="questionAnswerLabel"> Question</h6>
                                <textarea name="" class="preAnsweredQuestionHolder"  cols="70" rows="4"></textarea>
                            </div>
                            <div class="questionOrAnswerHolder">
                                <h3 class="questionAnswerLabel">Answer</h6>
                                <textarea name=""  class="preAnsweredAnswerHolder"cols="70" rows="4"></textarea>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <div class=" questionContainer container tab-pane fade" id="bonus1Question">
                    <div class="questionSend container" >
                        <button class="input-group-text btn btn-primary" id="bonus1QuestionSend">Send Bonus1</button>
                        <textarea class="form-control" id="bonus1QuestionInput" rows="5"></textarea> 
                    </div>
                    <div class = "questionView hidden" id="bonus1QuestionView">
                        <div class="checkHolder">   
                            <h6 class="checkmarkLabel" >Question Already Sent</h6>
                            <i class="fas fa-check checkmark"></i>
                        </div>
                        <div class="questionAnswerHolder">
                            <div class="questionOrAnswerHolder">
                                <h3 class="questionAnswerLabel"> Question</h6>
                                <textarea class="preAnsweredQuestionHolder" id="" cols="70" rows="4"></textarea>
                            </div>
                            <div class="questionOrAnswerHolder">
                                <h3 class="questionAnswerLabel">Answer</h6>
                                <textarea class="preAnsweredAnswerHolder"cols="70" rows="4" ></textarea>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <div class=" questionContainer container tab-pane fade " id="bonus2Question">
                    <div class="questionSend container" >
                        <button class="input-group-text btn btn-primary" id="bonus2QuestionSend">Send Bonus2</button>
                        <textarea class="form-control" id="bonus2QuestionInput" rows="5"></textarea> 
                    </div>
                    <div class = "questionView hidden" id="bonus2QuestionView">
                        <div class="checkHolder">   
                            <h6 class="checkmarkLabel" >Question Already Sent</h6>
                            <i class="fas fa-check checkmark"></i>
                        </div>
                        <div class="questionAnswerHolder">
                            <div class="questionOrAnswerHolder">
                                <h3 class="questionAnswerLabel"> Question</h6>
                                <textarea name="" class="preAnsweredQuestionHolder" id="" cols="70" rows="4"></textarea>
                            </div>
                            <div class="questionOrAnswerHolder">
                                <h3 class="questionAnswerLabel">Answer</h6>
                                <textarea name="" id="" class="preAnsweredAnswerHolder"cols="70" rows="4"></textarea>
                            </div>
                        </div>
                       
                    </div>
                    
                </div> 
            </div>
         </div>    

    </div>


<ul class="nav nav-tabs " id="eventTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="selectTeam-tab" data-bs-toggle="tab" data-bs-target="#teamsDiv" type="button" role="tab" aria-selected="true">Select Teams</button>
    </li>
     <li class="nav-item" role="presentation">
        <button class="nav-link " id="scorekeep-tab" data-bs-toggle="tab" data-bs-target="#QuestionHolder" type="button" role="tab"  aria-selected="true">Manual ScoreKeep</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="question-tab" data-bs-toggle="tab" data-bs-target="#QuestionSender" type="button" role="tab" aria-selected="false">Send Question</button>
    </li>
</ul>

{%endblock%}
