.verticalTeamHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:5%;
    height:60%;
    margin:20% 1%;
    border: 1px solid purple;
    flex-wrap: wrap;
}
#topTeam{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
    height:10%;
    top:9%;
    left:43%;
    border: 1px solid purple;
    flex-wrap: wrap;
}
#bottomTeam{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
    height:10%;
    bottom:9%;
    left:43%;
    border: 1px solid purple;
    flex-wrap: wrap;
}
.horizantalTeamLabel{
    flex-basis:100%;
    text-align: center;
}
.verticalTeamLabel{
    flex-basis:100%;
    text-align: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
}
.scrollableInfoHolder{
    width: 32%;
    height:100%;
    margin-left:1%;
    border: 1px solid pink;
    overflow-x: scroll;
    white-space:nowrap;
}
.pastQuestion{
    width:100%;
    height:10%;
    margin-top:2%;
    border-radius: 25px;
    border: 1px solid purple;
    position:relative;
    font-size: larger;
    text-align:center;
}
#pastQuestions{
    border: 1px dotted orange;
    border-radius: 25px;
    width:35%;
    height:80%;
    margin-left: 1%;   
    padding:1%;    
}
.scrollableInfoHolder::-webkit-scrollbar {
    display:none;
}
.hoverbox{
    position:absolute;
    border:yellow dotted 1px;
    border-radius: 25px;
    background-color: beige;
    left:20%;
    top:35%;
    width:80%;
    height: 500%;
    z-index:1;
    color:var(--tertiary-color);
    font-size:small;
}
.hoverbox>*{
    z-index:2;
}