{%extends "home/base.html"%}
{%block title%}LiveRoomCLient{%endblock%}
{%block script%}
<script src="{{url_for('static', filename='script/showQuestion.js')}}""></script>
<script>
    let socket = io.connect('http://192.168.4.127:8080');
    let results = "";
    let roomKey = {{ roomKey|tojson }};
    let playerKey = {{ player|tojson}};
    socket.on('connect', function(){
        socket.emit('roomClientConnect', data = {"roomKey": {{ roomKey|tojson }}});
        socket.emit("roomDataRefreshRequest", data = {"roomKey": {{ roomKey|tojson }}});
    });
    socket.on("roomTeamsUpdate", (data) =>{
        //Ensure that the room we are recieving data for is the room we are in
        if (data.roomKey == {{ roomKey|tojson }}){
            let teams = data.teams;
            console.log(teams);
        }
    });
    
    socket.on("incomingQuestion", (data) => {
        //Ensure that the room we are recieving data for is the room we are in 

        if (data.roomKey == {{ roomKey|tojson }}){
            console.log(data)
            $("#questionTitle").text("Question #" + data.questionNum + ": " + ["Toss Up", "Bonus1", "Bonus2"][data.questionType]);
            $("#questionText").text("");
            let question = data.questionText;
            showText("#questionText", question, 100);
        }
    });
    $(document).ready(function(){
        onDocumentReady();
    }); 
    function onDocumentReady(){
        $(document).on("keypress", function(e){
            if(e.which == 32){
                console.log("SPACE PRESSED");
                paused = true;
                startAsyncTimer(10);
                socket.emit("pauseQuestion", data = {"roomKey": roomKey, "playerKey":playerKey, "amtQuestionSent":$("#questionText").val()})
            }
            console.log("KEY PRESSED: " + e.which);
        });
        $("#submitAnswerButton").click(()=>{
            submitAnswer();
        })
        function submitAnswer(){
            socket.emit("answerSubmit", data = {"roomKey": roomKey, "playerKey":playerKey, "answer":$("#answerInput").val()})
            paused = false;
        }
    }
    function showText(target, message,  interval){
        if (message.length>0 && paused == false){
            $(target).append(message[0]);
            message = message.substring(1);
            setTimeout(function(){
                showText(target, message, interval);
            }, interval);
        }
        else return;
    }

    function startAsyncTimer(seconds){
        $("#submitAnswer").removeClass("hidden");
        var timer = setInterval(() =>{
            if (seconds > 0 && paused){
                seconds--;
                $("#buzzInfo").text("Submit Answer In: " + seconds + " seconds");
            }
            else{
                submitAnswer();
                $("#buzzInfo").text("Time's Up! Answer Submitted");
                $("#submitAnswer").addClass("hidden");
                clearInterval(timer)
                paused=false;
                setTimeout(() => {
                    $("#buzzInfo").text("Answer Submitted!");
                }, 2000);

            }
        }, seconds*100);
    }


</script>{%endblock%}
{%block styles%}<style>
    #currentQuestionHolder{
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        border: 1px dotted  white;
        width:50%;
        height:300px;
        margin-left: 5%;
        margin-right:5%;
    }
    #pastQuestions{
        border: 1px dotted orange;
        border-radius: 25px;
        width:35%;
        height:80%;
        margin-left: 5%;
        
    }
    #questionText{
        border: 1px dotted blue;
        height: 50%;
        overflow: auto;
    }
    
    .container{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px dotted red;
        width:100%;
        max-width:none;
        height:500px;

    }
    #submitAnswer{
        display: flex;
        flex-direction: row;
    }
    .hidden{
        display:none !important;
    }  
    #questionAnswer{
        height:20%;
    } 
    
    #answerContainer{
        border: 1px dotted yellow;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
    } 
</style>{%endblock%}

{%block content%}
<div class="container">
    <div id="pastQuestions">

    </div>

    <div id="currentQuestionHolder">
        <h1 class="center" id="questionTitle">Question #1</h1>
        <div id="questionText"></div>
        <div id="questionAnswer">
            <h6 id="buzzInfo">Press Space to Buzz in</h6>
            <div class="hidden form-group"id="submitAnswer">
                <textArea class="form-control" id="answerInput"></textArea>
                <button class="input-group-text btn btn-primary"id="submitAnswerButton">Submit Answer</button>
            </div>
        </div>
        
    </div>
    
</div>
{%endblock%}