{%extends "base.html"%}
{%block title%}CREATE{%endblock%}
{%block script%}<script>
   $(document).ready(() => {
        $("#createTourn").on("click", createTourn);
        $("#liveButton").on("click", () =>{window.location.href = "/host/create/live"});
        $("#scoreButton").on("click", () =>{window.location.href = "/host/create/score"});
    });
    function createTourn(){
        window.location.href = "/host/createTourn";
    }
   
</script>{%endblock%}
{%block styles%}<style>
    .container{
        border: 1px solid blue;
    }
    
    .btn-primary{
        background-color: var(--primary-color);
    }
</style>{%endblock%}
{%block content%}

<!--TODO: make containers match in height-->
<div class = "container center left">
    <h1 id="liveHeader" class="center">
        LIVE CERTAMEN
    </h1>
    <p>
                Hosting a LIVE Game allows multiple players to join indivisual rooms and participate in a virtual live certamen game. Host send out questions from their computers and contestants buzz in to answer.
    </p>

    <div class="center">
        <button id="liveButton" class="center btn btn-primary">
            HOST LIVE GAME
        </button>
    </div>
</div>
<div class = "container center right">
    <h1 id="scoreHeader" class="center">
        SCOREBOARD CERTAMEN
    </h1>
    <p>
                A SCOREBOARD Game simulates a virtual Certamen tournament scoring system. Host can create rooms where other oher hosts(to whom the room key has been shared) can virtually score the results of a certamen game played in person. These results will be compiled providing quick and detailed game and tournamen reports. 
    </p>
    <button id="scoreButton" class="center btn btn-primary">
        HOST SCOREBOARD 
    </button>
</div>


{%endblock%}