{%extends "base.html"%}
{%block title%}MANAGE{%endblock%}
{%block styles%}<style>
    
</style>{%endblock%}
{%block script%}<script>

    $(document).ready(() => {


    });
</script>{%endblock%}
{%block content%}
<h1 class="center">Manage Tournament</h1>
    <div class="center box">
        <form action="/host/manage/authenticateTourn">
            <label for="tournKeyInput">Enter Tournament Key</label>
            <input type="text" name="tournKey" id="tournKeyInput" placeholder="Tournament Key">
            <input type="submit" value="Enter">
        </form>
        {%with messages = get_flashed_messages()%}
            {%if messages%}
                {%for message in messages%}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {%endfor%}
            {%endif%}
        {%endwith%}

    </div>


{%endblock%}